.App {
  font-family: sans-serif;
  text-align: center;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 5px;
}
.bod {
  box-shadow: 5px 5px #dcdedc;
}
.bod:hover {
  transform: translate(1.1);
}

li {
  margin: 2px;
  padding: 5px;
  border-top: 2px solid #dcdedc;
  box-shadow: -1px 1px 5px 5px #888888;
}
li:hover {
  transform: translate(1.1);
}
input {
  padding: 5px;
}

footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
  flex-grow: 1;
}
footer a {
  color: gray;
  text-decoration: none;
}
footer a:hover {
  transform: translate(1.1);
  text-decoration: none;
}

.delbtn {
  color: red;
  padding: 5px;
  border: 1px solid #dcdedc;
}

.delbtn:hover {
  background-color: #fc4d44;
  color: whitesmoke;
}

.addbtn {
  color: lightgreen;
  padding: 5px;
  border: 1px solid #dcdedc;
}
.addbtn:hover {
  background-color: lightgreen;
  color: whitesmoke;
}
input[type="checkbox"] {
  padding: 5px;
}
